{{#extend 'stylesheets'}}
    <style>
        
    .btn-file {
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    }      
.btn-file > input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
    }
    .fileinput {
    margin-bottom: 9px;
    display: inline-block;
    }
    .fileinput .uneditable-input {
    display: inline-block;
    margin-bottom: 0px;
    vertical-align: middle;
    cursor: text;
    }
    .fileinput i + .fileinput-filename,
    .fileinput .btn + .fileinput-filename {
    padding-left: 5px;
    }
    .fileinput.fileinput-exists .close {
    opacity: 1;
    color: #dee0e4;
    position: relative;
    top: 3px;
    margin-left: 5px;
    }
    .fileinput .thumbnail {
    overflow: hidden;
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: middle;
    text-align: center;
    }
    .fileinput .thumbnail[data-trigger="fileinput"] {
    cursor: pointer;
    }
    .fileinput .thumbnail:before,
    .fileinput .thumbnail:after {
    content: " ";
    display: table;
    }
    .fileinput .thumbnail:after {
    clear: both;
    }
    .fileinput .thumbnail > img {
    max-height: 100%;
    display: block;
    }
    .fileinput .btn {
    vertical-align: middle;
    }
    .fileinput-exists .fileinput-new,
    .fileinput-new .fileinput-exists {
    display: none;
    }
    .fileinput-inline .fileinput-controls {
    display: inline;
    }
    .fileinput .uneditable-input {
    white-space: normal;
    }
    .fileinput-new .input-group .btn-file {
    border-radius: 0 3px 3px 0;
    }
    .fileinput-new .input-group .btn-file.btn-xs,
    .fileinput-new .input-group .btn-file.btn-sm {
    border-radius: 0 2px 2px 0;
    }
    .fileinput-new .input-group .btn-file.btn-lg {
    border-radius: 0 3px 3px 0;
    }
    .form-group.has-warning .fileinput .uneditable-input {
    color: #574802;
    border-color: #ffd78a;
    }
    .form-group.has-warning .fileinput .fileinput-preview {
    color: #574802;
    }
    .form-group.has-warning .fileinput .thumbnail {
    border-color: #ffd78a;
    }
    .form-group.has-error .fileinput .uneditable-input {
    color: #ac1818;
    border-color: #ffafbd;
    }
    .form-group.has-error .fileinput .fileinput-preview {
    color: #ac1818;
    }
    .form-group.has-error .fileinput .thumbnail {
    border-color: #ffafbd;
    }
    .form-group.has-success .fileinput .uneditable-input {
    color: #045702;
    border-color: #b4e8a8;
    }
    .form-group.has-success .fileinput .fileinput-preview {
    color: #045702;
    }
    .form-group.has-success .fileinput .thumbnail {
    border-color: #b4e8a8;
    }
    .input-group-addon:not(:first-child) {
    border-left: 0;
    }
    .fileinput .uneditable-input,
    .fileinput-new .input-group .btn-file {
    display: table-cell !important;
    }

    </style>

{{/extend}}



<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
        <h2>{{users.firstname}} {{users.lastname}} Profile</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Settings 1</a>
                </li>
                <li><a href="#">Settings 2</a>
                </li>
            </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
        </div>
        <div class="x_content">
        <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
            <div class="profile_img">
            <div id="crop-avatar">
                <!-- Current avatar -->
                <img class="img-responsive avatar-view" src="/images/member/{{users.passport}}" alt="{{user.firstname}}" title="Change the avatar">
            </div>
            </div>
            <h3>{{users.lastname}} Profile</h3>

            <ul class="list-unstyled user_data">
            <li><i class="fa fa-map-marker user-profile-icon"></i> {{users.address}}
            </li>

            <li>
                <i class="fa fa-briefcase user-profile-icon"></i> {{users._roleId.name}}
            </li>

            </ul>

            {{!-- {{#if (ne users.roleId admin and ne users.roleId admin)}} --}}
            {{!-- {{#if (eq users.roleId 'admin' and eq users.rightToDeleteAdmin true)}} --}}
            <a class="btn btn-success" data-toggle="modal" data-target="#editmemberForm"><i class="fa fa-edit m-right-xs"></i>Edit Profile</a>
            {{!-- {{else}} --}}

            {{!-- {{/if}} --}}
            <br />

        </div>
        <div class="col-md-9 col-sm-9 col-xs-12">

            <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Personal Details</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                <!-- start user projects -->
                <table class="data table table-striped no-margin">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{users.firstname}} {{users.middlename}} {{users.lastname}}</td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td>{{users.email}}</td>
                    </tr>
                    <tr>
                        <td>Username</td>
                        <td>{{users.username}}</td>
                    </tr>
                    <tr>
                        <td>Phone Number</td>
                        <td>{{users.phone}}</td>
                    </tr>
                    <tr>
                        <td>Country</td>
                        <td>{{users.country}}</td>
                    </tr>
                    <tr>
                        <td>State</td>
                        <td>{{users.state}}</td>
                    </tr>
                    <tr>
                        <td>L.G.A</td>
                        <td>{{users.lga}}</td>
                    </tr>
                    </tbody>
                </table>
                <!-- end user projects -->
                
                </div>
            </div>
            </div>
        </div>
        </div>

        <!-- Small modal -->
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="editmemberForm">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">Update Member</h4>
                </div>
                <div class="modal-body">
                    
                    <div class="x_panel">
                        
                        <div class="x_content">
                        <br />
                        <div class="col-md-12 col-xs-12">

                            <form class="form-horizontal form-label-left input_mask" method="POST" action="/branch/user/update/{{branch._id}}" enctype="multipart/form-data">

                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-left" value="{{users.firstname}}" name="firstname" placeholder="First Name" required>
                                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control" value="{{users.middlename}}" name="middlename" placeholder="Middle Name">
                                <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-left" name="lastname" value="{{users.lastname}}" placeholder="Last Name">
                                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-left" value="{{users.username}}" placeholder="Username" readonly>
                                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-left" name="email" value="{{users.email}}" placeholder="Email">
                                <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <input type="number" class="form-control" value="{{users.phone}}" name="phone" placeholder="Phone">
                                <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
                            </div>

                            {{#if (eq users.roleId 'admin')}}

                            {{!-- <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <select class="form-control" name="roleId" id="e_roleId" required>
                                    <option>Select Role</option>
                                    <option value="admin" selected>admin</option>
                                </select>
                            </div> --}}

                            <input type="hidden" name="roleId" value="admin"/>

                            {{else}}

                            {{!-- // TODO: come back to this --}}
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <select class="form-control" name="_roleId" id="e_roleId" required>
                                    {{!-- <option>Select Role</option> --}}
                                    <option value="{{users._roleId._id}}">{{users._roleId.name}} ({{users._roleId.roleType}})</option>
                                    {{!-- {{#select users._roleId.name}} --}}
                                    {{#each roles}}
                                        <option value="{{_id}}">{{name}} ({{roleType}})</option>
                                    {{/each}}
                                    {{!-- {{/select}} --}}
                                </select>
                            </div>
                            {{/if}}

                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <select class="form-control" name="gender" id="egender" required>
                                    <option>Select Gender</option>
                                    {{#select users.gender}}
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    {{/select}}
                                </select>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <select class="form-control" name="country" id="ecountry" required>
                                    {{#select users.country}}
                                    <option>Select Country</option>
                                    <option value="Nigeria">Nigeria</option>
                                    {{/select}}
                                </select>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <select class="form-control" name="state" id="estate" required>
                                    {{#select users.state}}
                                    <option>Select State</option>
                                    <option value="Lagos State">Lagos State</option>
                                    <option value="Kwara State">Kwara State</option>
                                    {{/select}}
                                </select>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <select class="form-control" name="lga" id="elga" required>
                                    {{#select users.lga}}
                                    <option>Select L.G.A</option>
                                    <option value="ikeja">Ikeja</option>
                                    <option value="ilorin">Ilorin</option>
                                    {{/select}}
                                </select>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                <textarea class="form-control" name="address" id="eaddress" rows="2" placeholder='Address' required>{{users.address}}</textarea>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Passport</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail" style="height: 170px;width:100%;" data-trigger="fileinput">
                                            <img src="/images/member/{{users.passport}}" class="col-sm-12" style="width: 100%; height: 150px;" alt="...">
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail" class="col-sm-12" style="width: 100%; height: 150px;"></div>
                                        <div class="text-center">
                                            <span class="btn btn-default btn-file">
                                                <span class="fileinput-new">Select logo</span>
                                                <span class="fileinput-exists">Change logo</span>
                                                {{!-- {{#if (eq user.passport 'null')}}
                                                <input type="file" name="passport" value="/images/member/{{user.passport}}" accept="image/*" required>
                                                {{else}} --}}
                                                <input type="file" name="passport" value="/images/member/{{users.passport}}" accept="image/*">
                                                {{!-- {{/if}} --}}
                                            </span>
                                            <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" name="_memberId" value="{{users._id}}"/>
                            
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-6">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>

                            </form>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- /modals -->

    </div>
    </div>
</div>


{{#extend 'scripts'}}
    <script src="/javascripts/fileinput.js"></script>

{{/extend}}