{{#extend 'stylesheets'}}
<!-- Datatables -->
    <link href="/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">

    <style>
        .quick-btn { background: #EEEEEE;
        box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
        color: #444444;
        display: inline-block;
        height: 80px;
        margin: 10px;
        padding-top: 16px;
        text-align: center;
        text-decoration: none;
        width: 90px;
        position: relative;
        }
        .quick-btn span {
        display: block;
        }
        .quick-btn .label {
        position: absolute;
        right: -5px;
        top: -5px;
        }
        .quick-btn:hover {
        text-decoration: none;
        color: #fff;
        background-color: #4d7589;
        box-shadow: 3px 4px 1px #ccc;
        }
        .quick-btn.small {
        width: 40px;
        height: 30px;
        padding-top: 6px;
        }

        .btn-file {
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    }
    </style>

{{/extend}}


<div class="">
    
    <div class="text-center">
        <a class="quick-btn text-red" href="#" data-toggle="modal" data-target="#customer">
        <i class="fa fa-plus fa-2x"></i>
        <span>New Customer</span>
        </a>
    </div>

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
            <h2> Create Sales </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
            </div>
            <div class="x_content">

            <form class="form-horizontal form-label-left" id="allSales">
            <!-- Smart Wizard -->
            <div id="wizard" class="form_wizard wizard_horizontal">
                <ul class="wizard_steps">
                <li>
                    <a href="#step-1">
                    <span class="step_no">1</span>
                    <span class="step_descr">
                        Step 1<br />
                        <small>Customer Details</small>
                    </span>
                    </a>
                </li>
                <li>
                    <a href="#step-2">
                    <span class="step_no">2</span>
                    <span class="step_descr">
                        Step 2<br />
                        <small>Product Details</small>
                    </span>
                    </a>
                </li>
                {{!-- <li>
                    <a href="#step-3">
                    <span class="step_no">3</span>
                    <span class="step_descr">
                        Step 3<br />
                        <small>Sales Details</small>
                    </span>
                    </a>
                </li> --}}
                </ul>
                    <div id="step-1">
                        <form class="form-horizontal form-label-left" id="saleStep2">
                            <div class="row form-group">
                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-3">
                                        <select class="form-control" name="_customerId" id="_customerId" required>
                                            <option value="">Select Customer</option>
                                            {{#each customers}}
                                                <option value="{{_id}}">{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="step-2">
                        <form class="form-horizontal form-label-left" id="saleProduct">
                            <div class="row form-group">
                                <div class="form-group">
                                <label for="middle-name" class="control-label col-md-3 col-sm-3">Product Barcode:</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control col-md-7 col-xs-12" type="text" id="barcodeNumber" onchange="getBarcode(this.value)" name="barcodeNumber" placeholder="Product Barcode">
                                </div>
                                </div>
                                <div class="form-group">
                                <div class="barMsg col-md-6 col-sm-offset-3">

                                </div>
                                </div>
                                <div class="form-group">
                                <label for="_productId" class="control-label col-md-3 col-sm-3">Product Name:</label>
                                <div class="col-md-6 col-sm-6 ui-widget">
                                    <input class="form-control col-md-7 col-xs-12" type="text" name="_productName" id="_productName" placeholder="Product Name">
                                    <input type="hidden" name="_productId" id="_productId">
                                </div>
                                </div>
                                <div class="form-group">
                                <div class="piecesMsg col-md-6 col-sm-offset-3">

                                </div>
                                </div>
                                <div class="form-group">
                                <label for="middle-name" class="control-label col-md-3 col-sm-3">Pieces Available:</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control col-md-7 col-xs-12" type="text" name="piecesAvai" id="piecesAvai" placeholder="Pieces Available" disabled>
                                </div>
                                </div>
                                <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3">Enter Pieces:
                                </label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control col-md-7 col-xs-12" type="text" onchange="enterPieces(this.value)" name="piecesSold" id="piecesSold" placeholder="Enter Pieces">
                                </div>
                                </div>
                                <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3">Product Price:
                                </label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control col-md-7 col-xs-12" type="text" name="getPrice" id="getPrice" placeholder="Product Price" disabled>
                                </div>
                                </div>
                                <div class="form-group">
                                <div class="getMsg col-md-6 col-md-offset-3">

                                </div>
                                </div>
                                <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3">Enter Price:
                                </label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control col-md-7 col-xs-12" type="text" onchange="pricePay(this.value)" name="productPrice" id="productPrice" placeholder="Enter Price">
                                </div>
                                </div>
                                <div class="form-group">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                                </div>
                            </div>
                        </form>

                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="x_panel">
                                    <div class="x_title">
                                    <h2>Sales </h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Settings 1</a>
                                            </li>
                                            <li><a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                        </li>
                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Product Name</th>
                                            <th>Pieces</th>
                                            <th>Unit Price</th>
                                            <th>Total</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody id="saleTable">

                                        </tbody>
                                    </table>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <form class="form-horizontal form-label-left" id="saleStep4">
                            <div class="row form-group">
                                <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3" for="first-name">Sum Amount By Sales Price:
                                </label>
                                <div class="col-md-6 col-sm-6">
                                    <input type="text" required="required" class="form-control col-md-7 col-xs-12" placeholder="Sum" name="sumAmt" id="sumAmt" disabled>
                                </div>
                                </div>
                                <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3" for="last-name">Discount Given To Customer:
                                </label>
                                <div class="col-md-6 col-sm-6">
                                    <input type="text" name="discount" onchange="getDiscount(this.value)" class="form-control col-md-7 col-xs-12" placeholder="Discount Given To Customer" id="discount">
                                </div>
                                </div>
                                <div class="form-group">
                                <label for="middle-name" class="control-label col-md-3 col-sm-3">%VAT:</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control col-md-7 col-xs-12" type="text" name="vat" placeholder="VAT" id="vat">
                                </div>
                                </div>
                                <div class="form-group">
                                <label for="middle-name" class="control-label col-md-3 col-sm-3">Amount Due To Customer:</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control col-md-7 col-xs-12" type="text" name="amtDueToCus" placeholder="Amount Due To Customer" id="amtDueToCus" disabled>
                                </div>
                                </div>
                                <div class="form-group">
                                <label for="middle-name" class="control-label col-md-3 col-sm-3">Amount Paid By Customer:</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control col-md-7 col-xs-12" type="text" onchange="amountPaidByCus(this.value)" placeholder="Amount Paid By Customer" name="payByCus" id="payByCus" required>
                                </div>
                                </div>
                                <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3">Balance Transaction:
                                </label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control col-md-7 col-xs-12" type="text" placeholder="Balance Transaction" name="balanceTransaction" id="balanceTransaction" disabled>
                                </div>
                                </div>
                                <div class="form-group">
                                <label for="middle-name" class="control-label col-md-3 col-sm-3">Pay By:</label>
                                <div class="col-md-6 col-sm-6">
                                    <select class="form-control" id="_paidBy" name="_paidBy" required>
                                        <option value="cash">Cash</option>
                                        <option value="Transfer">Transfer</option>
                                        <option value="POS">POS</option>
                                    </select>
                                </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    {{!-- <div id="step-3">
                        <form class="form-horizontal form-label-left" id="saleStep4">
                            <div class="row form-group">
                                <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3" for="first-name">Sum Amount By Sales Price:
                                </label>
                                <div class="col-md-6 col-sm-6">
                                    <input type="text" required="required" class="form-control col-md-7 col-xs-12" placeholder="Sum" name="sumAmt" id="sumAmt" disabled>
                                </div>
                                </div>
                                <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3" for="last-name">Discount Given To Customer:
                                </label>
                                <div class="col-md-6 col-sm-6">
                                    <input type="text" name="discount" onchange="getDiscount(this.value)" class="form-control col-md-7 col-xs-12" placeholder="Discount Given To Customer" id="discount">
                                </div>
                                </div>
                                <div class="form-group">
                                <label for="middle-name" class="control-label col-md-3 col-sm-3">%VAT:</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control col-md-7 col-xs-12" type="text" name="vat" placeholder="VAT" id="vat">
                                </div>
                                </div>
                                <div class="form-group">
                                <label for="middle-name" class="control-label col-md-3 col-sm-3">Amount Due To Customer:</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control col-md-7 col-xs-12" type="text" name="amtDueToCus" placeholder="Amount Due To Customer" id="amtDueToCus" disabled>
                                </div>
                                </div>
                                <div class="form-group">
                                <label for="middle-name" class="control-label col-md-3 col-sm-3">Amount Paid By Customer:</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control col-md-7 col-xs-12" type="text" onchange="amountPaidByCus(this.value)" placeholder="Amount Paid By Customer" name="payByCus" id="payByCus" required>
                                </div>
                                </div>
                                <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3">Balance Transaction:
                                </label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control col-md-7 col-xs-12" type="text" placeholder="Balance Transaction" name="balanceTransaction" id="balanceTransaction" disabled>
                                </div>
                                </div>
                                <div class="form-group">
                                <label for="middle-name" class="control-label col-md-3 col-sm-3">Pay By:</label>
                                <div class="col-md-6 col-sm-6">
                                    <select class="form-control" id="_paidBy" name="_paidBy" required>
                                        <option value="cash">Cash</option>
                                        <option value="cash">Transfer</option>
                                        <option value="cash">POS</option>
                                    </select>
                                </div>
                                </div>
                            </div>
                        </form>
                    </div> --}}
            <!-- End SmartWizard Content -->
            </div>
            </form>
        </div>
        </div>
    </div>
</div>

<!-- Small modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" id="customer">
<div class="modal-dialog modal-sm" style="width: 400px;">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel2">Create Customer</h4>
        </div>
        <div class="modal-body">
            
            <div class="x_panel">
                
                <div class="x_content">
                <br />
                <form class="form-horizontal form-label-left" method="POST" action="/sales/create/customer">

                    <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Name</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Customer Name">
                    </div>
                    </div>
                    <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">E-mail</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="email" class="form-control" id="email" name="email" placeholder="E-mail">
                    </div>
                    </div>
                    <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Phone</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="number" class="form-control" id="phone" name="phone" placeholder="Phone">
                    </div>
                    </div>
                    <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Address</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <textarea class="form-control" name="address" id="address" rows="2" placeholder="Address"></textarea>
                    </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                    </div>

                </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- /modals -->


<!-- Small modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" id="updateSales">
<div class="modal-dialog modal-sm" style="width: 500px;">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel2">Update Purchased Sales</h4>
        </div>
        <div class="modal-body">
            
            <div class="x_panel">
                
                <div class="x_content">
                <br />
                    <form class="form-horizontal form-label-left saleProduct">
                        <div class="row form-group" id="editSaleProduct">
                            <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3">Pieces Available:</label>
                            <div class="col-md-6 col-sm-6">
                                <select class="form-control" name="_productId" onchange="egetPieces(this.value)" required>
                                    <option>Select Product</option>
                                    {{#each products}}
                                        <option value="{{_productId._id}}" data-productName="{{_productId.productName}}">{{_productId.productName}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            </div>
                            <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3">Pieces Available:</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control col-md-7 col-xs-12" type="text" name="epiecesAvai" id="epiecesAvai" placeholder="Pieces Available" disabled>
                            </div>
                            </div>
                            <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3">Enter Pieces:
                            </label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control col-md-7 col-xs-12" type="text" onchange="eenterPieces(this.value)" name="epiecesSold" id="epiecesSold" placeholder="Enter Pieces">
                            </div>
                            </div>
                            <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3">Product Price:
                            </label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control col-md-7 col-xs-12" type="text" name="egetPrice" id="egetPrice" placeholder="Product Price" disabled>
                            </div>
                            </div>
                            <input type="hidden" name="_uproductId" id="_uproductId" value="" />
                            <div class="form-group">
                            <div class="egetMsg col-md-6 col-md-offset-3">

                            </div>
                            </div>
                            <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3">Enter Price:
                            </label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control col-md-7 col-xs-12" type="text" onchange="epricePay(this.value)" name="eproductPrice" id="eproductPrice" placeholder="Enter Price">
                            </div>
                            </div>
                            <div class="form-group">
                            <div class="col-md-6 col-md-offset-3 text-center">
                                <button type="submit" class="btn btn-success salesArrayUpdate">Submit</button>
                            </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- /modals -->



<!-- Small modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" id="salesSuccess" data-backdrop="static" data-keyboard="false">
<div class="modal-dialog modal-sm" style="width: 400px;">
    <div class="modal-content">

        <div class="modal-body">
            
            <div class="x_panel">
                
                <div class="x_content">
                <br />
                    <div class="text-center">
                        <img src="/images/checked1.png" alt="..." width="200" height="200">
                        <h4>Product Purchased Successful</h4>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                            <a href="/sales/get/pdf/" id="salesId" target="_blank">
                                <button type="submit" class="btn btn-success">Click To view Invoice</button>
                            </a>
                            <br>
                            <br>

                            <button type="button" onclick="closeSales()" class="btn btn-danger" data-dismiss="modal">Click To Close</button>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- /modals -->





{{#extend 'scripts'}}

    <!-- jQuery Smart Wizard -->
    <script src="/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

    <script src="/javascripts/sales.js"></script>

{{/extend}}