{{#extend 'stylesheets'}}
    <style>
        .btn-primaryy {
            background: green;
            border: green;
        }
        .btn-successs {
            background: yellow;
            border: yellow;
        }
        .btn-dangerr {
            background: red;
            border: red;
        }
    </style>

    <style>
        .quick-btn { background: #EEEEEE;
        box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
        color: #444444;
        display: inline-block;
        height: 80px;
        margin: 10px;
        padding-top: 16px;
        text-align: center;
        text-decoration: none;
        width: 90px;
        position: relative;
        }
        .quick-btn span {
        display: block;
        }
        .quick-btn .label {
        position: absolute;
        right: -5px;
        top: -5px;
        }
        .quick-btn:hover {
        text-decoration: none;
        color: #fff;
        background-color: #4d7589;
        box-shadow: 3px 4px 1px #ccc;
        }
        .quick-btn.small {
        width: 40px;
        height: 30px;
        padding-top: 6px;
        }

    </style>
{{/extend}}

    <div class="">

        <div class="row top_tiles">
            <a href="/branch">
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
                        <div class="count">{{branch}}</div>
                        <h3>Number Of Branches</h3>
                    </div>
                </div>
            </a>
            <a href="/product">
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-comments-o"></i></div>
                        <div class="count">{{product}}</div>
                        <h3>Number Of All Products</h3>
                    </div>
                </div>
            </a>
            <a href="/admin/staff">
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-user"></i></div>
                    <div class="count">{{account}}</div>
                    <h3>Total Number Of Admins And Staff</h3>
                </div>
                </div>
            </a>
            <a href="/supplier">
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-check-square-o"></i></div>
                    <div class="count">{{suppliers}}</div>
                    <h3>Total Number Of Suppliers</h3>
                </div>
                </div>
            </a>
        </div>

        <div class="text-center">

            <a class="quick-btn text-red" href="#" data-toggle="modal" data-target="#newBarcode">
                <i class="fa fa-plus fa-2x"></i>
                <span>Gen New Barcode</span>
            </a>

            <a class="quick-btn text-red" href="#" data-toggle="modal" data-target="#existingBarcode">
                <i class="fa fa-plus fa-2x"></i>
                <span>Gen Existing Barcode</span>
            </a>
        </div>    


        <div class="col-md-12 col-sm-12 col-xs-12">
            
            <div class="x_panel">
                <div class="x_title">
                <h2>Out Of Stock Product Notification</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                    </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
                </div>
                <div class="x_content">

                <table id="datatable" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>N/S</th>
                        <th>Product</th>
                        <th>Available Pieces</th>
                        <th>Branch</th>
                        <th>Actions</th>
                    </tr>
                    </thead>


                    <tbody>
                        {{#each products}}
                        <tr>
                            <td>{{inc @index}}</td>
                            <td id="name{{_id}}">{{_productId.productName}}</td>
                            <td id="email{{_id}}">{{pieces}}</td>
                            <td id="phone{{_id}}">{{_branchId.name}}</td>
                            <td>
                                {{#if (gte pieces 10)}}
                                <button class="btn btn-primaryy btn-sm"></button>
                                {{else if (gt pieces 1)}}
                                <button class="btn btn-successs btn-sm"></button>
                                {{else if (lt pieces 1)}}
                                <button class="btn btn-dangerr btn-sm"></button>
                                {{/if}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                </div>
            </div>
        </div>


        <!-- Small modal -->
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" id="newBarcode">
            <div class="modal-dialog modal-sm" style="width: 400px;">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel2">Generate New Barcode</h4>
                    </div>
                    <div class="modal-body">
                        
                        <div class="x_panel">
                            
                            <div class="x_content">
                            <br />
                                <form class="form-horizontal form-label-left" method="POST" action="/admin/gen">
                                    <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Number Of Barcode To Print</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="number" name="number" id="number" class="form-control" placeholder="Number Of Barcode" required>
                                    </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /modals -->

        <!-- Small modal -->
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" id="existingBarcode">
            <div class="modal-dialog modal-sm" style="width: 400px;">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel2">Generate Existing Barcode</h4>
                    </div>
                    <div class="modal-body">
                        
                        <div class="x_panel">
                            
                            <div class="x_content">
                            <br />
                            <form class="form-horizontal form-label-left" method="POST" action="/admin/gen/update">

                                <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Barcode</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" name="barcode" id="barcode" class="form-control" placeholder="Scan Barcode" required>
                                </div>
                                </div>
                                <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Number Of Barcode To Print</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="number" name="number" id="number" class="form-control" placeholder="Number Of Barcode" required>
                                </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                                </div>

                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /modals -->

    </div>


{{#extend 'scripts'}}

    <!-- Datatables -->
    <script src="/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>

    <script src="/vendors/echarts/dist/echarts.min.js"></script>

    <script>

        $('button.Submit').click( function() {
            var t=$(this);
            var form=t.parents('form');
            form.attr('target',t.data('target'));
            form.submit();
            return false;
        });
    </script>

{{/extend}}